/examples/output/top.ic0
/examples/output/top.lis
/examples/output/top.pa0
/examples/output/top.st0
/examples/output/top.tr0
/examples/output/testbench/work/
/examples/output/testbench/transcript
/examples/output/testbench/vsim.wlf
.vscode/
/src/deleteKey.reg
VLSI2024/
test/
/src/lib/model/SC/MUX.sp